<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
    {{!-- * Importing JQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{!-- Audio readback --}}
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=A2zNMwFx"></script>

    {{!-- <script src="./js/face-api.js"></script> --}}
        
    {{!-- * Importing scripts --}}
    {{!-- Temp disabling old script --}}
    {{!-- <script src="./js/facialRecognition.js" type="text/javascript"></script> --}}

    {{!-- Importing the new facial recognition script --}}
    {{!-- <script src="./js/facialRecognitionNew.js" type="text/javascript"></script> --}}

    {{!-- * Importing CSS --}}
    {{!-- <link rel="stylesheet" href="./assets/facialRecognitionCanvas.css"/> --}}

    


  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
