/* * This is the body css config taken from documentation */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

/* * This is the canvas config taken from documentation */
canvas {
    position: absolute;
}